<%- include('../partials/PhoneNav') -%>

<div id="bck">
    <div id="abt">
        <div id="abtheader">
            <h2>WHEN HIGH-QUALITY MATERIAL AND CREATIVITY COME TOGETHER</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto at, similique cum, natus eligendi quos cumque illo voluptates, perspiciatis ducimus ipsa repellendus. Cum rem delectus necessitatibus, unde fugit vel ut?</p>
        </div>
        <div id="philosophy">
            <h3>OUR PHILOSOPHY</h3>
            <div id="a">
                <div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas corrupti adipisci nemo eum! Blanditiis, architecto ducimus! Reiciendis, esse mollitia delectus molestiae nobis aliquam! Aliquid alias, eius temporibus quae ea omnis?</p>
                </div>
                <div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas corrupti adipisci nemo eum! Blanditiis, architecto ducimus! Reiciendis, esse mollitia delectus molestiae nobis aliquam! Aliquid alias, eius temporibus quae ea omnis?</p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/PhoneFooter') -%>