<%- include ('../partials/phone/PhoneNav')-%>

<div id="contactpage">
    <div id="infos">
        <div class="info">
           <div> <i></i><h3>phone</h3>
           </div>
           <p>+212 0612345678</p>
        </div>
        <div class="info">
           <div> <i></i><h3>email</h3>
           </div>
           <p>email@email.com</p>
        </div>
        <div class="info">
           <div> <i></i><h3>location</h3>
           </div>
           <p>SomeWhere , some where , 123456st</p>
        </div>
    </div>
    <div id="form">
        <form>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>




<%- include ('../partials/phone/PhoneFooter')-%>