<%- include ('../partials/phone/PhoneNav')-%>

<!-- <div id="contactpage">
    <div id="infos">
        <div class="info">
           <div> <i></i><h3>phone</h3>
           </div>
           <p>+212 0612345678</p>
        </div>
        <div class="info">
           <div> <i></i><h3>email</h3>
           </div>
           <p>email@email.com</p>
        </div>
        <div class="info">
           <div> <i></i><h3>location</h3>
           </div>
           <p>SomeWhere , some where , 123456st</p>
        </div>
    </div>
    <div id="form">
        <form>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div> -->
<div id="contact">
    <div id="cred" class="flexcenter">
        <div class="c">
            <div>
                <i class="cicon1 fas fa-phone-alt"></i>
                <h3 class="ctit1">Let's Talk!</h3>
            </div>
            <h4 class="cinfo1">+1 800 123456789</h4>
        </div>
        <div class="c">
            <div>
                <i class="cicon fas fa-envelope"></i>
                <h3 class="ctit">General Support</h3>
            </div>
            <h4 class="cinfo">contact@bookstore.com</h4>
        </div>
    </div>
    <div id="form">
        <div id="tit" class="flexcenter">
            <h3 id="ftit">Give Us Your Feedback!</h3>
        </div>
        <form class="flexcenter" action="">
            <input class="fipt" type="text" placeholder="Name">
            <input class="fipt1" type="email" placeholder="Email">
            <textarea class="fipt2" placeholder="Description" name="Description" id="" cols="30" rows="10"></textarea>
            <button class="fipt3" type="submit">Send</button>
        </form>
    </div>
</div>



<%- include ('../partials/phone/PhoneFooter')-%>