<%- include ('../partials/PhoneNav')-%>

<div id="contactpage">
    <div id="infos">
        <div class="info">
           <div> <i></i><h3>phone</h3>
           </div>
           <p>+212 0612345678</p>
        </div>
        <div class="info">
           <div> <i></i><h3>email</h3>
           </div>
           <p>email@email.com</p>
        </div>
        <div class="info">
           <div> <i></i><h3>location</h3>
           </div>
           <p>SomeWhere , some where , 123456st</p>
        </div>
    </div>
    <div id="form">
        <form>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<footer>
    <div onclick="showFoot()" id="down"><i  class="fas fa-chevron-down"></i></div>
    <div class="hidden1" id="footerHide">
        <div>
            <h4>Links</h4>
            <ul>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </ul>
        </div>
        <div>
            <h4>Links</h4>
            <ul>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </ul>
        </div>
        <div>
            <h4>Links</h4>
            <ul>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </ul>
        </div>
        <div>
            <h4>Links</h4>
            <ul>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </ul>
        </div>
       
    </div>
    <p id="cpr" class="hidden">Copyright © 2019 Phone Inc. All rights reserved. | Legal Terms | Privacy Policy | Cookie Policy</p>
</footer>



<%- include ('../partials/PhoneFooter')-%>