<%-include ('../partials/phone/PhoneNav')-%>
<div id="landing">
    
    <div id="page">
        <!-- <div id="br"></div> -->
        <div id="txt">
            <div id="h1p">
                <h1 id="headline">Phone of the future</h1>
                <p id="subline">The only phone you'll ever need.</p>
            </div>
            <div id="btns">
                <a id="btns1" href="#"><span>Specs</span></a>
                <a id="btns2" href="#"><span>Buy Now</span></a>
            </div>
        </div><!-- txt&btn-->
        
    </div><!-- page -->

</div><!-- Landing -->

<div id="SP">
   
    <div class="r">
        <div><img id="test" src="/img/rr1.jpg" alt=""></div>
        <h3 class="name">Emma Watson</h3>
        <h4 class="sub">Very Hot</h4>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, qui? Nam possimus nostrum atque tenetur!
        </p>
    </div>
    <div class="r">
        <div><img src="/img/rr2.jpg" alt=""></div>
        <h3 class="name">Lebron James</h3>
        <h4 class="sub">Is black</h4>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, qui? Nam possimus nostrum atque tenetur!
        </p>
    </div>
    <div class="r">
        <div><img src="/img/rr4.jpg" alt=""></div>
        <h3 class="name">Eugeene smith</h3>
        <h4 class="sub">Fat nerd</h4>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, qui? Nam possimus nostrum atque tenetur!
        </p>
    </div>
    <div class="r">
        <div><img src="/img/rr3.jpg" alt=""></div>
        <h3 class="name">Some Thot</h3>
        <h4 class="sub">ig "model"</h4>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, qui? Nam possimus nostrum atque tenetur!
        </p>
    </div>
</div><!-- SP -->


<div id="f">
    <div id="f1" class="f f1">
        <img src="/img/img.png" alt="" class="hidden">
        <div class="txt fader faderleft">
            
            <h3>Take the best pictures!</h3>
            <p>span.fader Repellat, dolores necessitatibus accusamus a minima aut error reiciendis soluta id delectus quod maxime dolor, dolorum quo eveniet mollitia nostrum iusto neque?</p>
        </div>
    </div>
    
    <div id="f2" class="f f2">
        <img src="/img/dsn.png" alt="" class="hidden">
        <div class="txt fader">
            
            <h3>Professional design</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, dolores necessitatibus accusamus a minima aut error reiciendis soluta id delectus quod maxime dolor, dolorum quo eveniet mollitia nostrum iusto neque?</p>
        </div>
    </div>
    <div id="f3" class="f3 f">
        <img src="/img/str.png" alt="" class="hidden">
        <div class="txt fader">
            
            <h3>Take the best pictures!</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, dolores necessitatibus accusamus a minima aut error reiciendis soluta id delectus quod maxime dolor, dolorum quo eveniet mollitia nostrum iusto neque?</p>
        </div>
    </div>
    <div id="f4" class="f4 f">
        <img src="/img/dsp.png" alt="" class="hidden">
        <div class="txt fader">
            
            <h3>Professional design</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, dolores necessitatibus accusamus a minima aut error reiciendis soluta id delectus quod maxime dolor, dolorum quo eveniet mollitia nostrum iusto neque?</p>
        </div>
    </div>
</div><!-- F -->
<div id="specs">
    <div id="specdiv">
        <h3 >Tech Specs</h3 >
    <ul>
        <li>120Hz UltraMotion™ Display – A brighter screen with zero lag or stuttering</li>
        <li>Qualcomm Snapdragon 845 – With a custom vapor chamber cooling system</li>
        <li>Dual Front-Facing Stereo Speakers – Featuring Dolby Atmos and a 24-bit USB-C DAC</li>
        <li>Dual Cameras with Image Stabilization – For faster, sharper shots</li>
        <li>New Design with Glass Back – Equipped with wireless charging, Razer Chroma™ RGB logo and IP67 Water Resistance</li>
    </ul>
    </div>
</div><!-- specs -->

<div id="abt">
    <div id="since">
        <h3>Since 1928</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aperiam id nulla beatae expedita maxime cum dolore blanditiis accusamus totam, consectetur perferendis sequi, omnis explicabo fugiat!</p>
    </div>
    <div id="why">
        <h3>Why we do this</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aperiam id nulla beatae expedita maxime cum dolore blanditiis accusamus totam, consectetur perferendis sequi, omnis explicabo fugiat!</p>
    </div>
    <div id="philo">
        <h3>Our Philosophy</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aperiam id nulla beatae expedita maxime cum dolore blanditiis accusamus totam, consectetur perferendis sequi, omnis explicabo fugiat!</p>
    </div>
    <div id="abtus">
        <h3>About us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit aperiam id nulla beatae expedita maxime cum dolore blanditiis accusamus totam, consectetur perferendis sequi, omnis explicabo fugiat!</p>
    </div>
</div><!-- abt -->

<div id="contact">
    <div id="cred" class="flexcenter">
        <div class="c">
            <div>
                <i class="cicon1 fas fa-phone-alt"></i>
                <h3 class="ctit1">Let's Talk!</h3>
            </div>
            <h4 class="cinfo1">+1 800 123456789</h4>
        </div>
        <div class="c">
            <div>
                <i class="cicon fas fa-envelope"></i>
                <h3 class="ctit">General Support</h3>
            </div>
            <h4 class="cinfo">contact@bookstore.com</h4>
        </div>
    </div>
    <div id="form">
        <div id="tit" class="flexcenter">
            <h3 id="ftit">Give Us Your Feedback!</h3>
        </div>
        <form class="flexcenter" action="">
            <input class="fipt" type="text" placeholder="Name">
            <input class="fipt1" type="email" placeholder="Email">
            <textarea class="fipt2" placeholder="Description" name="Description" id="" cols="30" rows="10"></textarea>
            <button class="fipt3" type="submit">Send</button>
        </form>
    </div>
</div>
<div id="cta">
    <h3>The phone you always wanted</h3>
    <h4>Can now be yours</h4>
    <div><a href="#"><span>Buy Now</span></a></div>
</div><!-- cta -->

<%-include ('../partials/phone/PhoneFooter')-%>