<%-include ('../partials/PhoneNav')-%>
<div id="landing">
    <div id="nav">
        <h3 id="logo"><i class="fas fa-2x fa-american-sign-language-interpreting"></i> PhoneShit</h3>
    <ul>
        <li>About</li>
        <li>Contact</li>
    </ul>
    </div><!-- nav -->
    <div id="page">
        <div id="br"></div>
        <div id="txt">
            <div id="h1p">
                <h1>Phone of the future</h1>
                <p>The only phone you'll ever need.</p>
            </div>
            <div id="btns">
                <a href="#"><span>Specs</span></a>
                <a href="#"><span>Buy Now</span></a>
            </div>
        </div><!-- txt&btn-->
        
    </div><!-- page -->

</div><!-- Landing -->
<div id="SP">
   
    <div class="r">
        <div><img src="/img/rr1.jpg" alt=""></div>
        <h3 class="name">Emma Watson</h3>
        <h4 class="sub">Very Hot</h4>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, qui? Nam possimus nostrum atque tenetur!
        </p>
    </div>
    <div class="r">
        <div><img src="/img/rr2.jpg" alt=""></div>
        <h3 class="name">Lebron James</h3>
        <h4 class="sub">Is black</h4>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, qui? Nam possimus nostrum atque tenetur!
        </p>
    </div>
    <div class="r">
        <div><img src="/img/rr4.jpg" alt=""></div>
        <h3 class="name">Eugeene smith</h3>
        <h4 class="sub">Fat nerd</h4>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, qui? Nam possimus nostrum atque tenetur!
        </p>
    </div>
    <div class="r">
        <div><img src="/img/rr3.jpg" alt=""></div>
        <h3 class="name">Some Thot</h3>
        <h4 class="sub">ig "model"</h4>
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, qui? Nam possimus nostrum atque tenetur!
        </p>
    </div>
</div><!-- SP -->
<div id="f">
    <div id="f1" class="f f1">
        <div class="txt fader faderleft">
            <h3>Take the best pictures!</h3>
            <p>span.fader Repellat, dolores necessitatibus accusamus a minima aut error reiciendis soluta id delectus quod maxime dolor, dolorum quo eveniet mollitia nostrum iusto neque?</p>
        </div>
    </div>
    <div id="f2" class="f f2">
        <div class="txt fader">
            <h3>Professional design</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, dolores necessitatibus accusamus a minima aut error reiciendis soluta id delectus quod maxime dolor, dolorum quo eveniet mollitia nostrum iusto neque?</p>
        </div>
    </div>
    <div id="f3" class="f3 f">
        <div class="txt fader">
            <h3>Take the best pictures!</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, dolores necessitatibus accusamus a minima aut error reiciendis soluta id delectus quod maxime dolor, dolorum quo eveniet mollitia nostrum iusto neque?</p>
        </div>
    </div>
    <div id="f4" class="f4 f">
        <div class="txt fader">
            <h3>Professional design</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, dolores necessitatibus accusamus a minima aut error reiciendis soluta id delectus quod maxime dolor, dolorum quo eveniet mollitia nostrum iusto neque?</p>
        </div>
    </div>
</div><!-- F -->
<div id="specs">
    <div>
        <h3>Tech Specs</h3>
    <ul>
        <li>120Hz UltraMotion™ Display – A brighter screen with zero lag or stuttering</li>
        <li>Qualcomm Snapdragon 845 – With a custom vapor chamber cooling system</li>
        <li>Dual Front-Facing Stereo Speakers – Featuring Dolby Atmos and a 24-bit USB-C DAC</li>
        <li>Dual Cameras with Image Stabilization – For faster, sharper shots</li>
        <li>New Design with Glass Back – Equipped with wireless charging, Razer Chroma™ RGB logo and IP67 Water Resistance</li>
    </ul>
    </div>
</div><!-- specs -->
<div id="cta">
    <h3>The phone you always wanted</h3>
    <h4>Can now be yours</h4>
    <div><a href="#"><span>Buy Now</span></a></div>
</div><!-- cta -->
<footer>
    <div id="footer">
        <div>
            <h4>Links</h4>
            <ul>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </ul>
        </div>
        <div>
            <h4>Links</h4>
            <ul>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </ul>
        </div>
        <div>
            <h4>Links</h4>
            <ul>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </ul>
        </div>
        <div>
            <h4>Links</h4>
            <ul>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </ul>
        </div>
       
    </div>
    <p>Copyright © 2019 Phone Inc. All rights reserved. | Legal Terms | Privacy Policy | Cookie Policy</p>
</footer>
<%-include ('../partials/PhoneFooter')-%>