
#contactpage{ 
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/img/img.jpg);
    background-position: center;
    background-size: cover;
    #form{
        display: grid;
        
        
    }
    form{
        background-color: var(--br);
        padding: 0.8vw;
        border-radius: 5px;
        max-width: 500px;
    }
   
    form,#infos{
        align-self: center;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        .info,input,textarea{
            margin: 5% 0;
            color: var(--accent);
        }
        input{
            height: 5vh;
            
        }
        input,textarea{
            border: none;
            border-bottom: 1px var(--accent) solid;
            background-color: transparent;
            &::placeholder{
                color: var(--accent);
                font-size: var(--placeholderFont);
            }
            &:focus{
                outline: none;
                border-bottom: 1px var(--accent2) solid;
                &::placeholder{
                    color: var(--accent2);
                    
                }
            }
        }
    }
}
@media(max-width:1200px){
    #contactpage{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        #form{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5%;
        }
    }
}