<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/phone/index.css">
    <link rel="stylesheet" href="/css/phone/landing.css">
    <link rel="stylesheet" href="/css/phone/about.css">
    <link rel="stylesheet" href="/css/phone/contact.css">
    <script src="https://kit.fontawesome.com/67bf1e6382.js" crossorigin="anonymous"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>PhoneShit | Phone</title>
</head>
<body>
    <div id="nav">
        <a href="/phone"><h3 id="logo"><i class="fas fa-2x fa-american-sign-language-interpreting"></i> PhoneShit</h3>
        </a>
    <ul>
        <li class="navL"><a href="/phone/about">About</a></li>
            <li class="navL"><a href="/phone/contact">Contact</a></li>
        <i onclick="showNav()" id="ham" class="fas fa-bars"></i>
    </ul>
    
    </div><!-- nav -->
