<footer>
    <div onclick="showFoot()" id="down"><i  class="fas fa-chevron-down"></i></div>
    <div class="hidden1" id="footerHide">
        <div>
            <h4>Links</h4>
            <ul>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </ul>
        </div>
        <div>
            <h4>Links</h4>
            <ul>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </ul>
        </div>
        <div>
            <h4>Links</h4>
            <ul>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </ul>
        </div>
        <div>
            <h4>Links</h4>
            <ul>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </ul>
        </div>
       
    </div>
    <p id="cpr" class="hidden">Copyright © 2019 Phone Inc. All rights reserved. | Legal Terms | Privacy Policy | Cookie Policy</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
<script src="/javascript/phone.js"></script>
</body>
</html>