#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 80%;
  height: 10vh;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  color: var(--accent);
}

#nav a {
  text-decoration: none;
  color: var(--accent);
}

#nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  max-width: 250px;
}

#nav ul #ham {
  display: none;
}

#contactpage {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-image: url(/img/img.jpg);
  background-position: center;
  background-size: cover;
}

#contactpage #form {
  display: -ms-grid;
  display: grid;
  max-width: 600px;
}

#contactpage form {
  background-color: var(--br);
  padding: 0.8vw;
  border-radius: 5px;
}

#contactpage form, #contactpage #infos {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

#contactpage form .info, #contactpage form input, #contactpage form textarea, #contactpage #infos .info, #contactpage #infos input, #contactpage #infos textarea {
  margin: 5% 0;
  color: var(--accent);
}

#contactpage form input, #contactpage #infos input {
  height: 5vh;
}

#contactpage form input, #contactpage form textarea, #contactpage #infos input, #contactpage #infos textarea {
  border: none;
  border-bottom: 1px var(--accent) solid;
  background-color: transparent;
}

#contactpage form input::-webkit-input-placeholder, #contactpage form textarea::-webkit-input-placeholder, #contactpage #infos input::-webkit-input-placeholder, #contactpage #infos textarea::-webkit-input-placeholder {
  color: var(--accent);
  font-size: var(--placeholderFont);
}

#contactpage form input:-ms-input-placeholder, #contactpage form textarea:-ms-input-placeholder, #contactpage #infos input:-ms-input-placeholder, #contactpage #infos textarea:-ms-input-placeholder {
  color: var(--accent);
  font-size: var(--placeholderFont);
}

#contactpage form input::-ms-input-placeholder, #contactpage form textarea::-ms-input-placeholder, #contactpage #infos input::-ms-input-placeholder, #contactpage #infos textarea::-ms-input-placeholder {
  color: var(--accent);
  font-size: var(--placeholderFont);
}

#contactpage form input::placeholder, #contactpage form textarea::placeholder, #contactpage #infos input::placeholder, #contactpage #infos textarea::placeholder {
  color: var(--accent);
  font-size: var(--placeholderFont);
}

#contactpage form input:focus, #contactpage form textarea:focus, #contactpage #infos input:focus, #contactpage #infos textarea:focus {
  outline: none;
  border-bottom: 1px var(--accent2) solid;
}

#contactpage form input:focus::-webkit-input-placeholder, #contactpage form textarea:focus::-webkit-input-placeholder, #contactpage #infos input:focus::-webkit-input-placeholder, #contactpage #infos textarea:focus::-webkit-input-placeholder {
  color: var(--accent2);
}

#contactpage form input:focus:-ms-input-placeholder, #contactpage form textarea:focus:-ms-input-placeholder, #contactpage #infos input:focus:-ms-input-placeholder, #contactpage #infos textarea:focus:-ms-input-placeholder {
  color: var(--accent2);
}

#contactpage form input:focus::-ms-input-placeholder, #contactpage form textarea:focus::-ms-input-placeholder, #contactpage #infos input:focus::-ms-input-placeholder, #contactpage #infos textarea:focus::-ms-input-placeholder {
  color: var(--accent2);
}

#contactpage form input:focus::placeholder, #contactpage form textarea:focus::placeholder, #contactpage #infos input:focus::placeholder, #contactpage #infos textarea:focus::placeholder {
  color: var(--accent2);
}

@media (max-width: 1200px) {
  #contactpage {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  #contactpage #form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=contact.css.map */