#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    color: var(--accent);
    a{
        text-decoration: none;
        color: var(--accent);
    }
    ul{
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        max-width: 250px;
        #ham{
            display: none;
        }
    }
}
#contactpage{ 
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/img/img.jpg);
    background-position: center;
    background-size: cover;
    #form{
        display: grid;
        max-width: 600px;
        
    }
    form{
        background-color: var(--br);
        padding: 0.8vw;
        border-radius: 5px;
    }
   
    form,#infos{
        align-self: center;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        .info,input,textarea{
            margin: 5% 0;
            color: var(--accent);
        }
        input{
            height: 5vh;
            
        }
        input,textarea{
            border: none;
            border-bottom: 1px var(--accent) solid;
            background-color: transparent;
            &::placeholder{
                color: var(--accent);
                font-size: var(--placeholderFont);
            }
            &:focus{
                outline: none;
                border-bottom: 1px var(--accent2) solid;
                &::placeholder{
                    color: var(--accent2);
                    
                }
            }
        }
    }
}
@media(max-width:1200px){
    #contactpage{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        #form{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}