* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

.show {
  display: block !important;
  -webkit-transform: translate(0) !important;
          transform: translate(0) !important;
}

:root {
  --br: #232323;
  --br2: #161616;
  --accent: white;
}

.appear {
  opacity: 1 !important;
  -webkit-transform: translate(0) !important;
          transform: translate(0) !important;
}

.fader {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  opacity: 0;
}

body, html {
  overflow-x: hidden;
  font-family: 'Montserrat';
  background: var(--br);
  color: var(--accent);
}

img {
  height: 100%;
  width: 100%;
}

#landing {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  border-bottom: var(--accent) 1px solid;
}

#landing #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#landing #nav ul {
  width: 50%;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#landing #nav ul i {
  display: none;
}

#landing #page {
  height: 100%;
  width: 100%;
}

#landing #page #br {
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-image: url(/img/ldn.jpg);
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing #page #txt {
  top: 0;
  left: 25vw;
  right: 0;
  height: 100vh;
  width: 50%;
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  height: 50%;
  max-height: 500px;
}

#landing #page #txt #btns {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#landing #page #txt #btns a {
  padding: 0.8rem;
  border: solid 1px var(--accent);
  text-decoration: none;
  color: var(--accent);
  margin: 0 auto;
  position: relative;
}

#SP {
  background: var(--br2);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 300px);
}

#SP .r {
  margin: 5% 2%;
  text-align: center;
}

#SP .r h4 {
  margin: 0.5% auto;
  opacity: 0.8;
}

#SP .r p {
  font-size: calc(0.5rem + 0.5vw);
  width: 50%;
  min-width: 250px;
  margin: 0.5% auto;
}

#SP .r div {
  height: 191.26px;
  width: 200px;
  margin: 0 auto;
}

#SP .r div img {
  border-radius: 100px;
}

@media (max-width: 1200px) {
  #landing #nav ul i {
    display: block;
    margin-left: auto;
  }
  #landing #nav ul li {
    display: none;
  }
  #SP {
    -ms-grid-columns: (420px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 420px);
  }
  #f p {
    font-size: calc(0.5rem + 0.5vw);
  }
  #f .f {
    background-image: none !important;
    position: relative;
  }
  #f .f img {
    display: block !important;
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 1200px) {
  #cta h3 {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    margin-top: 20%;
  }
  #cta h4 {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    margin-top: 20%;
  }
  #landing #page #btns a span {
    position: relative;
    z-index: 3;
  }
  #landing #page #btns a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: url(/img/ldn.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  #landing #page #btns a:hover:before {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  #landing #page #btns a:after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: url(/img/ldn.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  #landing #page #btns a:hover:after {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  #cta div a span {
    position: relative;
    z-index: 3;
  }
  #cta div a:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: url(/img/cta.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  #cta div a:hover:before {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  #cta div a:after {
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: url(/img/cta.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  #cta div a:hover:after {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

#f {
  border-bottom: var(--accent);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (60vh)[4];
      grid-template-rows: repeat(4, 60vh);
}

#f .f1 {
  background-image: url(/img/img.jpg);
}

#f .f2 {
  background-image: url(/img/dsn.png);
}

#f .f3 {
  background-image: url(/img/str.jpg);
}

#f .f4 {
  background-image: url(/img/dsp.png);
}

#f .f {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65%;
}

#f .f .txt {
  width: 80%;
  max-width: 500px;
  height: 100%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#f .f .txt h3, #f .f .txt p {
  background: #232323;
  opacity: 0.8;
  padding: 0.5rem;
}

#f .f2 .txt, #f .f4 .txt {
  margin-left: auto;
  margin-right: 5%;
}

#specs {
  background: var(--br2);
  width: 100%;
}

#specs div {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 70%;
      grid-template-columns: 1fr 70%;
}

#specs div ul {
  list-style: none;
}

#specs div ul li {
  margin-bottom: 3%;
}

#cta {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/cta.jpg);
  width: 100%;
  color: var(--accent);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#cta h3 {
  margin-top: 20%;
}

#cta h4 {
  margin-top: 20%;
}

#cta div {
  -ms-grid-column-align: center;
      justify-self: center;
}

#cta div a {
  position: relative;
  text-decoration: none;
  padding: 2rem 2.5em;
  border: 1px solid var(--accent);
  color: inherit;
  height: 40px;
  width: 100px;
  text-align: center;
}

#footerHide {
  padding-top: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 0 auto;
}

#footerHide div {
  -ms-grid-column-align: center;
      justify-self: center;
}

#footerHide ul {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footerHide ul a {
  margin-bottom: 2%;
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

footer {
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

footer #down {
  width: 100%;
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  text-align: center;
  color: #666666;
  margin-top: 0.1%;
  font-size: calc(0.5rem + 0.6vw);
  margin: 2% auto;
}

.turned i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hidden {
  display: none !important;
}

.hidden1 {
  display: none !important;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */