<%- include ('../partials/book/nav')-%>

    <div id="landing">  
        <div id="headline">
            <img id="ldn1" src="/img/book/ldn1.jpg" alt="">
            <div id="g">
                <h1>Live Stories</h1>
            <div id="txt">
                <p class="visibleBR">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti quam consequuntur eos corrupti maxime harum non quaerat soluta voluptates. Repellendus optio dolorem aut ea laudantium.</p>
                <div id="btn">
                    <a href="/book/contact">Join Now</a>
                    <a href="#services">Learn More</a>
                </div>
            </div>
            </div>
        </div>
        <div id="subline">
            <img id="ldn2" src="/img/book/ldn2.jpg" alt="">
            <div id="g">
                <h3>Only the best books</h3>
            <p class="visibleBR">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, possimus. Magnam ipsam perspiciatis laborum dolorem, eius incidunt totam autem rem.</p>
            </div>
            
        </div>
    </div>
    <div id="bnf">
        <div class="bnf">
            <img src="/img/book/bnf1.jpg" alt="">
            <div class="txt flexcenter">
                <h3>Endless Library</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum alias itaque, corporis id corrupti ut officiis magni</p>
            </div>
        </div>
        <div class="bnf">
            <img src="/img/book/bnf2.jpg" alt="">
            <div class="txt flexcenter">
                <h3>Bring the magic back to reading</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum alias itaque, corporis id corrupti ut officiis magni</p>
            </div>
        </div>
        <div class="bnf">
            <img src="/img/book/bnf3.jpg" alt="">
            <div class="txt flexcenter">
                <h3>Take it with you</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum alias itaque, corporis id corrupti ut officiis magni</p>
            </div>
        </div>
        <div class="bnf">
            <img src="/img/book/bnf4.jpg" alt="">
            <div class="txt flexcenter">
                <h3>For all ages</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum alias itaque, corporis id corrupti ut officiis magni.</p>
            </div>
        </div>
    </div>
    <div id="abt">
        <div id="top">
            
            <div id="txt">
                <h3>About Us</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere ducimus delectus natus expedita nisi quod, laborum quaerat qui. Molestiae quod cum libero consequatur alias officia temporibus dolore. Quibusdam, itaque nisi?</p>
            </div>
            <div id="imgs">
                <img src="/img/book/abt1.jpg" alt="">
                <img src="/img/book/abt2.jpg" alt="">
                <img src="/img/book/abt3.jpg" alt="">
            </div>
        </div>
        <div id="philo">
            <h3>Our Philosophy</h3>
            <div id="txt">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste velit tenetur dolor ducimus. Voluptatem maiores saepe aliquid ex assumenda corporis consequatur? Numquam quaerat voluptatem molestias obcaecati inventore! Itaque, tempore minima.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quaerat nam id sapiente iusto expedita.</p>
            </div>
        </div>
    </div>
<%- include ('../partials/book/foot')-%>