<%- include ('../partials/book/nav')-%>

    <div id="landing">  
        <div id="headline">
            <img id="ldn1" src="/img/book/ldn1.jpg" alt="">
            <div id="g">
                <h1 id="title">Live Stories</h1>
            <div id="txt">
                <p id="headtxt" class="visibleBR">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti quam consequuntur eos corrupti maxime harum non quaerat soluta voluptates. Repellendus optio dolorem aut ea laudantium.</p>
                <div id="btn">
                    <a href="/book/contact">Join Now</a>
                    <a href="#services">Learn More</a>
                </div>
            </div>
            </div>
        </div>
        <div id="subline">
            <img id="ldn2" src="/img/book/ldn2.jpg" alt="">
            <div id="g">
                <h3 id="subtit">Only the best books</h3>
            <p id="subtxt" class="visibleBR">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, possimus. Magnam ipsam perspiciatis laborum dolorem, eius incidunt totam autem rem.</p>
            </div>
            
        </div>
    </div>
    <div id="bnf">
        <div class="bnf">
            <img src="/img/book/bnf1.jpg" alt="">
            <div class="txt flexcenter">
                <h3>Endless Library</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum alias itaque, corporis id corrupti ut officiis magni</p>
            </div>
        </div>
        <div class="bnf">
            <img src="/img/book/bnf2.jpg" alt="">
            <div class="txt flexcenter">
                <h3>Bring the magic back to reading</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum alias itaque, corporis id corrupti ut officiis magni</p>
            </div>
        </div>
        <div class="bnf">
            <img src="/img/book/bnf3.jpg" alt="">
            <div class="txt flexcenter">
                <h3>Take it with you</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum alias itaque, corporis id corrupti ut officiis magni</p>
            </div>
        </div>
        <div class="bnf">
            <img src="/img/book/bnf4.jpg" alt="">
            <div class="txt flexcenter">
                <h3>For all ages</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum alias itaque, corporis id corrupti ut officiis magni.</p>
            </div>
        </div>
    </div>
    <div id="abt">
        <div id="top">
           
            <div id="txt">
                <h3>About Us</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere ducimus delectus natus expedita nisi quod, laborum quaerat qui. Molestiae quod cum libero consequatur alias officia temporibus dolore. Quibusdam, itaque nisi?</p>
            </div>
            <img src="/img/book/abt.jpg" alt="">
            
        </div>
        <div id="philo">
            <h3>Our Philosophy</h3>
            <div id="txt">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste velit tenetur dolor ducimus. Voluptatem maiores saepe aliquid ex assumenda corporis consequatur?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quaerat nam id sapiente iusto expedita.</p>
            </div>
            <div id="btn" class="flexcenter">
                <a href="/book/contact">Join Now</a>
            </div>
        </div>
    </div>
    <div id="contact">
        <div id="cred" class="flexcenter">
            <div class="c">
                <div>
                    <i class="fas fa-phone-alt"></i>
                    <h3>Let's Talk!</h3>
                </div>
                <h4>+1 800 123456789</h4>
            </div>
            <div class="c">
                <div>
                    <i class="fas fa-envelope"></i>
                    <h3>General Support</h3>
                </div>
                <h4>contact@bookstore.com</h4>
            </div>
        </div>
        <div id="form">
            <div id="tit" class="flexcenter">
                <h3>Give Us Your Feedback!</h3>
            </div>
            <form class="flexcenter" action="">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <textarea placeholder="Description" name="Description" id="" cols="30" rows="10"></textarea>
                <button type="submit">Send</button>
            </form cla>
        </div>
    </div>
    <footer id="footer" class="flexcenter">
        <ul id="f" class="flexcenter">
            <li>About</li>
            <li>Contact</li>
            <li>Services</li>
        </ul>
        <ul id="s" class="flexcenter">
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-twitter-square"></i></li>
        </ul>
    </footer>
<%- include ('../partials/book/foot')-%>