<%- include ('../partials/book/nav')-%>

    <div id="landing">  
        <div id="headline">
            <img id="ldn1" src="/img/book/ldn1.jpg" alt="">
            <div id="g">
                <h1>Live Stories</h1>
            <div id="txt">
                <p class="visibleBR">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti quam consequuntur eos corrupti maxime harum non quaerat soluta voluptates. Repellendus optio dolorem aut ea laudantium.</p>
                <div id="btn">
                    <a href="/book/contact">Join Now</a>
                    <a href="#services">Learn More</a>
                </div>
            </div>
            </div>
        </div>
        <div id="subline">
            <img id="ldn2" src="/img/book/ldn2.jpg" alt="">
            <div id="g">
                <h3>Only the best books</h3>
            <p class="visibleBR">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, possimus. Magnam ipsam perspiciatis laborum dolorem, eius incidunt totam autem rem.</p>
            </div>
            
        </div>
    </div>
<%- include ('../partials/book/foot')-%>
