<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookStore</title>
    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display|Red+Hat+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/book/style.css">
    <script src="https://kit.fontawesome.com/67bf1e6382.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="flexcenter">
        <h3><a href="/book"><span><i class=" fas fa-book-open"></i></span> BookStore</a></h3>
        <ul class="flexcenter">
            <li><a href="/book/about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="/book/contact">Contact</a></li>
        </ul>
    </nav>